!!! 5
%html
%head
  %title Jobsboard
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand Job Hunter
      %ul.nav.navbar-nav

        %li= link_to 'All Jobs', root_path, class: "nav-item dropdown-toggle"
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle(href="#" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Categories
          .dropdown-menu(aria-labelledby = "supportedContentDropdown")
            - Category.all.each do |category|
              = link_to category.name, jobs_path(category: category.name), class: "dropdown-item"
              %br
      -if user_signed_in?
        = link_to "Account", edit_user_registration_path, class: "navbar-text navbar-right navbar-link"
        = link_to "Log out", destroy_user_session_path, :method => :delete, class: "navbar-text navbar-right navbar-link"
        -if current_user.role == 'company'
          = link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link"
      -else
        = link_to "Log in", new_user_session_path, class: "navbar-text navbar-right navbar-link"
        = link_to "Sign in", new_user_registration_path, class: "navbar-text navbar-right navbar-link"
  .container
    .col-md-6.col-md-offset-3
      %p.notice= notice
      %p.alert= alert
      = yield
